.char-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 3rem;
}
.char-container::after,
.char-container::before {
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}
.char-container::after {
    top: -3rem;
    left: -5rem;
}
.char-container::before {
    bottom: 2rem;
    right: 0rem;
}

.char-content {
  flex: 1;
}
.char-content h2 {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 5rem;
  margin-bottom: 1rem;
}
.char-content p {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}
.char-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5 rem;
}
.girl {
  border-radius: 15%;
}
.char-img > div {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.char-img > div > img {
  width: 25rem;
  transition: all 0.3s ease;
}
.img-icon {
  width: 3rem;
  height: 3rem;
}
.tech-icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.65rem;
  border: 1.5px solid #6852ba;
}
.tech-icon img {
  width: 3rem;
  height: auto;
  transition: all 0.3s ease;
}
.char-img > div > img:hover,
.tech-icon img:hover {
  transform: translateY(-0.5rem);
}
@media(max-width: 1025px) {
    .char-content h2 {
        font-size: 3rem;
        line-height: 4rem;
    }
    .char-content p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }
    .char-img > div > img {
        width: 20rem;
    }
    .tech-icon {
        width: 4rem;
        height: 4rem;
    }
    .tech-icon img {
        width: 2.5rem;
    }
}
@media(max-width: 768px){
    .char-container {
        flex-direction: column;
    }
    .char-img {
        margin: 2rem 0 2rem 0;
    }
    .char-container h2 {
        margin-top: 3rem;
    }
    .char-content h2, 
    .char-content {
        width: auto;
        text-align: center;
    }
    .char-container::after,
    .char-container::before {
        content: " ";
        width: 18rem;
        height: 18rem;
    }
    .char-container::after {
        top: 0rem;
        left: 0rem;
    }
    .char-container::before {
        bottom: 2rem;
        right: 0rem;
    }
}
@media(max-width: 600px){
    .char-content h2 {
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .char-content p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    .char-img {
        gap: 1rem;
    }
    .char-img > div {
        gap: 1rem;
    }
    .char-img > div> img {
        width: 16rem;
    }
    .tech-icon {
        width: 3.3rem;
        height: 3.3rem;
    }
    .tech-icon img {
        width: 2rem;
    }
}
